table,
th,
td {
    border: 1px solid grey;
    border-collapse: collapse;
}

th,
td {
    padding: 10px;
    width: 200px;
    text-align: center;
    color: black;
}

table th {
    justify-content: center;
    color: white;
    font-size: medium;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: rgb(5, 43, 75);
}

tbody th {
    opacity: 0.8;
    color: black;
}

div#msg-erro {
    color: red;
}

#descricao {
    margin-left: 9px;
    width: 29%;
    height: 20px;
}

#h1_topo {
    color: red;
    justify-content: center;
    font-family: verdana, arial, helvetica;
}

.body {
    background: linear-gradient(0, #120c56, #000000);
    height: 100vh;
}

.btn-success:hover {
    background-color: #4400ff;
    color: #ffffff;
}